<div class="form-row">
    <div class="form-item">
        <label>User</label>
        <input type="text" name="user" value="<%= user.usrname %>">
    </div>
    <div class="form-item">
        <label>Pass</label>
        <input type="text" name="pass" value="<%= user.usrpass %>">
    </div>
    <div class="form-item">
        <label>Rol</label>
        <input type="text" name="rol" value="<%= user.usrrol %>">
    </div>
</div>